* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.earthquake_section2 {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 401;
    width: 22.45%;
    height: 37.8%;
    bottom: 10%;
    margin-left: 1.875%;
}

.earthquake_section2 .top_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 53.44%;
    padding: 1rem;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(134, 134, 134, 0.25);
}

.earthquake_section2 .top_box1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.earthquake_section2 .top_box1_img{
    display: flex;
    align-items: center;
}

.earthquake_section2 .top_box1_text1 {
    color: #0A0A0A;
    font-size: clamp(1rem, 0rem + 1.25vw, 3rem);
        font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* margin-left: 2%; */
}

.earthquake_section2 .top_box2_text1 {
    color: #858585;
    font-size: clamp(0.0683125rem, 0rem + 1.0938vw, 6.8359375rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.earthquake_section2 .bottom_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 39.65%;
    padding: 1rem;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(134, 134, 134, 0.25);
}

.earthquake_section2 .bottom_box_text1 {
    color: #000;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
}

.earthquake_section2 .line {
    width: 100%;
    height: 0.5px;
    background: #C1C1C1;

}



.earthquake_section2 .bottom_box_lower_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.earthquake_section2 .bottom_box_lower_row_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.earthquake_section2 .bottom_box_lower_row_child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.earthquake_section2 .bottom_box_lower_row_child2 {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    justify-content: center;
    align-items: center;

}


.earthquake_section2 .bottom_box_text2 {
    color: #0A0A0A;
    font-size: clamp(0.078125rem, 0rem + 1.25vw, 7.8125rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

